* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.ttf binary
*.webp binary
*.whl binary
*.woff binary
*.woff2 binary
*.zip binary
